@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,greek-ext);

body {
    margin: 0px;
    padding: 0px;
    background-image: url('images/bg.png');
	font-family: Ubuntu;
}

nav {
	background-image: url('images/banner.jpg');
}

nav ul {
	padding: 10px;
}

nav ul li {
	display: inline;
	padding: 3px;
	margin: 0px 5px;
}

nav ul li a {
	font-size: 16pt;
	color: #d0d0d0;
	text-decoration: none;
	transition: 0.5s;
}

nav ul li a:hover {
	color: #ffffff;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #002752;
	padding: 5px 0px;
}

footer span {
	color: #dfdfdf;
	margin-left: 10px;
}

.wrapper {
	width: 95%;
	margin: 20px auto;
	background-color: #98C6FA;
	border: solid 5px #003D7A;
}