@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,greek-ext);

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFDD00;
	font-family: Ubuntu;
}

nav {
	background-color: #FFA600;
}

nav ul {
	padding: 10px;
}

nav ul li {
	display: inline;
	padding: 3px;
	margin: 0px 5px;
}

nav ul li a {
	font-size: 16pt;
	color: #333333;
	text-decoration: none;
	transition: 0.5s;
}

nav ul li a:hover {
	color: #EEEEEE;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #FFA600;
	padding: 5px 0px;
}

footer span {
	margin-left: 10px;
}